.first-class {
  color: goldenrod;
}

.different-class {
  color: indigo;
}

.other-class {
  color: chartreuse;
}

.my-button {
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  background: pink;
  font: inherit;
  text-align: center;
}
